<div id="footer">
  <div id="copyright">© 2017 Liberty Mutual Insurance, 175 Berkeley Street, Boston, MA 02116 | 36 USC 220506 </div>
<div>
<table>
  <tr>
 <td>
   <a href="https://www.facebook.com/libertymutual"><img src="../../assets/images/FB-fLogo.png" alt="Facebook" id="facebook" class='footerimge'></a>
 </td>
<td>
  <a href="https://twitter.com/LibertyMutual"><img src="../../assets/images/Twitter_Logo_White_On_Blue.png" id="twitter" alt="Twitter"
    class='footerimge'></a>
</td>
<td>
  <a href="https://www.linkedin.com/company/liberty-mutual-insurance"><img src="../../assets/images/LinkedIn.png" id="linkedIn" alt="Linked In"
    class='footerimge'></a>
</td>
<td>
  <a href="https://plus.google.com/+libertymutual"><img src="../../assets/images/google.png" id="googlePlus" alt="Google +"
    class='footerimge'></a>
</td>
</tr>
 </table>
</div>
  <!-- </div> -->
</div>
