
h3, md-card-content {
  color: #0C0C8D;
}


.item-1 {
  text-align: left;
  padding-top: 20px;
  /*color: white;*/
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
    border-radius: 5px;
}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.panel-summary {
    width: 650px;
}
.vehcol {
  width: 30%;
}
.amtcol {
  width: 22%;
}
.labels{
  width: 20%;
  font-weight: bold;
}
.summary-heading {
  font-weight: bold;
}
.summary-detail {
    text-align: left;
}
.summary-row {
  margin-bottom: 10px;
}

#lmi {
  color: #0C0C8D;
}
