<div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <!-- <div class="item item-1" fxFlex="20%">Item 1</div> -->

  <div class="item item-2" fxFlex="40%" fxFlexOrder="2" fxLayout="column" fxLayoutGap="20px">
    <div class="panel panel-default">
      <div class="panel-heading">
        <md-card-title class="panel-title">ByMile Insurance</md-card-title>
      </div>
      <div class="panel-body">
        <md-card-content>
          When enrolled in ByMile, your monthly premium is a combination of a pre-determined base rate and a per-mile rate calculated according to the distance you drove during the previous month. Simply put, the less you drive, the lower your insurance bill will
          be.
        </md-card-content>
      </div>
    </div>
    <div id="image">
      <img src="../../assets/images/roadtripcar.jpg" alt="lady driving" class="img-responsive">
    </div>
  </div>

  <div class="item item-1" fxFlex fxLayoutAlign="center">

    <div fxLayout="column" fxLayoutGap="20px">

      <div class="panel panel-default panel-summary">
        <div class="panel-heading">
          <md-card-title class="panel-title">Summary Results</md-card-title>
        </div>
        <div class="panel-body">
          <md-card-content>
            <div fxLayout="column" fxFlex class="summary-detail">
              <div class="container summary-row" fxLayout="row">
                <div class="labels">
                  Drivers:
                </div>
                <div>
                  <div *ngFor="let driver of drivers">{{driver.firstName}} {{driver.lastName}}</div>
                </div>
              </div>
              <div class="container summary-row" fxLayout="row">
                <div class="labels">
                  Vehicles:
                </div>
                <div>
                  <div *ngFor="let premium of premiums">{{premium.vehicle.modelYear}} {{premium.vehicle.vehicleMakeRatingFactor.make}} {{premium.vehicle.model}}</div>
                </div>
              </div>
              <div class="container summary-row" fxLayout="row">
                <div class="labels">
                  Coverages Used in Estimate:
                </div>
                <div>
                  <div> Comprehensive - $250 Deductible<br> Collision - $500 Deductible<br> Liability - $250/$500/$500</div>
                </div>
              </div>
            </div>
          </md-card-content>
        </div>
      </div>

      <div class="panel panel-default panel-summary">
        <div class="panel-heading">
          <md-card-title class="panel-title">By Mile Insurance Estimate</md-card-title>
        </div>
        <div class="panel-body" *ngIf="premiums">
          <md-card-content>
            <div fxLayout="row" class="summary-heading">
              <div class="vehcol">
                Vehicle
              </div>
              <div class="amtcol">
                Monthly By-Mile Base Cost
              </div>
              <div class="amtcol">
                Estimated montly cost (Miles x Rate)
              </div>
              <div class="amtcol">
                Total Monthly By-Mile Cost
              </div>
            </div>
            <div *ngFor="let premium of premiums" fxLayout="row" class="summary-detail">
              <div class="vehcol">
                {{premium.vehicle.modelYear}} {{premium.vehicle.vehicleMakeRatingFactor.make}} {{premium.vehicle.model}}
              </div>
              <div class="amtcol">
                ${{premium.monthlyByMileBasePremium.toFixed(2)}}
              </div>
              <div class="amtcol">
                ${{(premium.vehicle.totalMiles * premium.byMileRate).toFixed(2)}}
              </div>
              <div class="amtcol">
                ${{(premium.monthlyByMileBasePremium + (premium.vehicle.totalMiles * premium.byMileRate)).toFixed(2)}}
              </div>
            </div>
            <div fxLayout="row" class="summary-detail">
              <div class="vehcol">
                Total monthly cost
              </div>
              <div class="amtcol">
                <div class="panel panel-default panel-summary">
                  <div class="panel-heading">
                    <md-card-title class="panel-title">By Mile Insurance Estimate</md-card-title>
                  </div>
                  <div class="panel-body" *ngIf="premiums">
                    <md-card-content>
                      <div fxLayout="row" class="summary-heading">
                        <div class="vehcol">
                          Vehicle
                        </div>
                        <div class="amtcol">
                          Monthly By-Mile Base Cost
                        </div>
                        <div class="amtcol">
                          Estimated montly cost (Miles x Rate)
                        </div>
                        <div class="amtcol">
                          Total Monthly By-Mile Cost
                        </div>
                      </div>
                      <div *ngFor="let premium of premiums" fxLayout="row" class="summary-detail">
                        <div class="vehcol">
                          {{premium.vehicle.modelYear}} {{premium.vehicle.vehicleMakeRatingFactor.make}} {{premium.vehicle.model}}
                        </div>
                        <div class="amtcol">
                          ${{premium.monthlyByMileBasePremium.toFixed(2)}}
                        </div>
                        <div class="amtcol">
                          ${{(premium?.vehicle?.totalMiles * premium?.byMileRate).toFixed(2)}}
                        </div>
                        <div class="amtcol">
                          ${{(premium.monthlyByMileBasePremium + (premium.vehicle.totalMiles * premium.byMileRate)).toFixed(2)}}
                        </div>
                      </div>
                      <div fxLayout="row" class="summary-detail">
                        <div class="vehcol">
                          Total monthly cost
                        </div>
                        <div class="amtcol">
                        </div>
                        <div class="amtcol">

                        </div>
                        <div class="amtcol">
                          ${{totalMonthlyByMileCost.toFixed(2)}}
                        </div>
                      </div>
                    </md-card-content>
                  </div>

                    <div class="panel panel-default panel-summary">
                      <div class="panel-heading">
                        <md-card-title class="panel-title">Traditional Insurance Estimate</md-card-title>
                      </div>
                      <div class="panel-body">
                        <md-card-content>
                          <div fxLayout="column" class="summary-detail">
                            <div>
                              <b>Total Monthly Cost:</b> ${{traditionalMonthlyCost.toFixed(2)}}
                            </div>
                          </div>
                        </md-card-content>
                      </div>
                    </div>

                    <div class="panel panel-default panel-summary">
                      <div class="panel-heading">
                        <md-card-title class="panel-title">Cost Savings</md-card-title>
                      </div>
                      <div class="panel-body">
                        <md-card-content>
                          <div fxLayout="column" class="summary-detail">
                            <div *ngIf="totalMonthlyByMileCost < traditionalMonthlyCost">
                              <b>You will save an estimated ${{(traditionalMonthlyCost - totalMonthlyByMileCost).toFixed(2)}} monthly or ${{(traditionalAnnualCost - annualByMileCost).toFixed(2)}}  annually</b>
                            </div>
                            <div *ngIf="totalMonthlyByMileCost > traditionalMonthlyCost">
                              <b>Based on your driving habits, our standard monthly premium plan would be a better option for you</b>
                            </div>
                          </div>
                        </md-card-content>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <br />
              <div>
                <h3>For more information and facts regarding ByMile Insurance <span><a id="lmi" href="https://www.libertymutual.com/bymile">Click Here</a></span> or speak to a representative at <u>1-800-341-3431</u>. </h3>
              </div>
