<!-- <img src="../../assets/images/ParkedCars.jpg" alt="Young Driver" id="youngDriver" class="img-responsive"> -->

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="30%">
    <div class="container" fxLayout="column">
      <div>
        <h3>These are vehicles you've added:</h3>
      </div>
      <div *ngFor="let vehicle of vehicles" class="vehList">
        <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            {{vehicle.modelYear}} {{vehicle.vehicleMakeRatingFactor.make}} {{vehicle.model}}
          </div>
          <div>
            <div class="vehButton">
              <a class="btn btn-primary" (click)="editVehicle(vehicle.vehicleId)">Edit</a>
            </div>  
            <div class="vehButton">
              <a class="btn btn-danger" (click)="deleteVehicle(vehicle.vehicleId)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="container" fxFlex fxlayout="column">
    <h3>Enter your vehicle information:</h3>
    <form #vehinfoForm="ngForm" (ngSubmit)="saveVehicle()" class="form-horizontal">
          <md-select placeholder="Model Year" [(ngModel)]="vehicle.modelYear" id="modelYear" name="modelYear" class="selectpicker" (change)="getValidMakes()">
          <md-option *ngFor="let year of yearsList;" [value]="year">
              {{year}}
          </md-option>
        </md-select>

      <div class="form-group" *ngIf="makes">
          <md-select placeholder="Manufacturer" [(ngModel)]="vehicle?.vehicleMakeRatingFactor.make" id="make" name="make" class="selectpicker" (change)="getValidModels()">
          <md-option *ngFor="let make of makes;" [value]="make.make_id">
              {{make.make_display}}
          </md-option>
        </md-select>
      </div>

      <div class="form-group" *ngIf="models">
          <md-select placeholder="Model" [(ngModel)]="vehicle.model" id="model" name="model" class="selectpicker" (change)="getValidTrims()">
          <md-option *ngFor="let model of models;" [value]="model.model_name">
              {{model.model_name}}
          </md-option>
        </md-select>
        <div *ngFor="let driver of drivers;">
          {{driver.driverId}} {{driver.firstName}} {{driver.lastName}}
        </div>
      </div>

      <div class="form-group" *ngIf="trims">
          <md-select placeholder="Trim Level" [(ngModel)]="vehicle.trim" id="trim" name="trim" class="selectpicker">
          <md-option *ngFor="let trim of trims;" [value]="trim.model_id">
              {{trim.model_trim}}
          </md-option>
        </md-select>
      </div>

      <div class="form-group" *ngIf="vehicle.trim">
          <md-select placeholder="Anti-Theft Device" [(ngModel)]="vehicle.antiTheft" id="antiTheft" name="antiTheft" class="selectpicker">
          <md-option value="autod">
              Automatic Disabling
          </md-option>
          <md-option value="onstar">
              OnStar
          </md-option>
          <md-option value="vrd">
              Vehicle Recovery Device
          </md-option>
        </md-select>
      </div>

      <div class="form-group" *ngIf="vehicle.trim">
          <md-select placeholder="Own or Lease" [(ngModel)]="vehicle.ownLease" id="ownLease" name="ownLease" class="selectpicker">
          <md-option value="owned">
              Own without payments
          </md-option>
          <md-option value="ownpay">
              Own with payments
          </md-option>
          <md-option value="lease">
              Leased
          </md-option>
        </md-select>
      </div>

      <div class="form-group" *ngIf="drivers && vehicle.trim">
          <md-select placeholder="Primary Driver" [(ngModel)]="vehicle?.driver.driverId" id="driver" name="driver" class="selectpicker" required [formControl]="driverFormControl">
          <md-option *ngFor="let driver of drivers;" [value]="driver?.driverId">
             {{driver.firstName}} {{driver.lastName}}
          </md-option>
        </md-select>
        <md-error *ngIf="driverFormControl.hasError('required')">
          A driver is <strong>required</strong>
        </md-error>
      </div>

      <div *ngIf="vehicle.trim">
        <button class="btn btn-primary" >Save Vehicle </button>
      </div>
      <div *ngIf="vehicles?.length > 0">
          <a class="btn btn-primary" routerLink="/tripinfo/{{quoteId}}">Continue to Trip Info Page >></a>
      </div>
    </form>

  </div>

  <div class="item item-3" fxFlex="30%">
    <div class="panel panel-default">
  <div class="panel-heading">
    <md-card-title class="panel-title">Factors That Affect Rate</md-card-title>
  </div>
  <div class="panel-body">
    <md-card-content>
      <b>Your Vehicle:</b> The more expensive a car is to repair or replace, the more it costs to insure. Your vehicle's safety features can help lower your auto insurance quote, as can how often you drive the car and what type of driving it's used for (business or personal).
    </md-card-content>
  </div>
</div>
    <img src="../../assets/images/ParkedCars.jpg" alt="Young Driver" id="youngDriver" class="img-responsive">
  </div>

</div>

<div id="footer">

            <div>© 2017 Liberty Mutual Insurance, 175 Berkeley Street, Boston, MA 02116 | 36 USC 220506 </div>

            <div id="social">

                <a href="https://www.facebook.com/libertymutual/">Facebook</a>

                <a href="https://twitter.com/LibertyMutual">Twitter</a>

            </div>

        </div>
