h3, label {
  color: #0C0C8D;
  float: left;
}

p {
  color: #0C0C8D;
}

img {
  height: 60%;
  width: 100%;
  padding-top: 40px;
}

#modelYear, #make, #model, #trim, #antiTheft, #ownLease {
  width: 350px;
  padding-bottom: 20px;
}
#modelYear{
  padding-top: 20px;
}

.item {
  padding-left: 10px;
}

.item-1 {
  text-align: left;
  padding-top: 20px;
  color: white;
}

.item-2 {
  color: #0C0C8D;
  margin: 20px;
}

button {
  background-color: #0C0C8D;
  color: white;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
    border-radius: 5px;
}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
}
