h3, label {
  color: #0C0C8D;
  float: left;
}

p, a{
  color: #0C0C8D !important;
}

.vehList {
  border-bottom: lightgray 1px dotted
}
img {
  height: 60%;
  width: 100%;
  padding-top: 40px;
}

a {
  color: white;
  padding-right: 5px;
}

#modelYear, #make, #model, #trim, #antiTheft, #ownLease {
  width: 350px;
  padding-bottom: 20px;
}
#modelYear{
  padding-top: 20px;
}

.item {
  padding-left: 10px;
}

.item-1 {
  text-align: left;
  padding-top: 70px;
  color: white;
}

.item-2 {
  color: #0C0C8D;
  margin: 20px;
}

button {
  background-color: #0C0C8D;
  color: white;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
    border-radius: 5px;
}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C0C8D;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  height: 60px;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-danger {
  color: #fff !important;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff !important;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-primary {
  color: #fff !important;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff !important;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #286090;
  border-color: #204d74;
}
.vehButton{
  float: right;
  margin-left: 10px;
}