md-toolbar {
    background-color: #0C0C8D !important;
    color: white !important;
    margin-bottom: 10px;
}

img {
  transform:scale(0.7);
  margin-top: 9px;
  width: 180px;
height: 100px;
}


li a {
    color: white;
}

li a:hover {
    background-color: #0C0C8D;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
};
