
<md-toolbar color="primary">

  <span><img src="../../assets/images/569-872-logo_thumb_LMI-Masterbrand.gif" /></span>

  <span class="spacer"></span>

    <span id='name'>ByMile Insurance</span>

</md-toolbar>

<div ng-if="showNavigation===true" class="ng-scope">
                    <!-- <redirect> -->
                      <!-- ngIf: currentPageName!=='results' && currentPageName!=='sorry' && currentPageName!=='emailbuy' && currentPageName!=='brokerlanding' && currentPageName!=='prefillpolicyholder' --><div class="modProgress ng-scope" ng-if="currentPageName!=='results' &amp;&amp; currentPageName!=='sorry' &amp;&amp; currentPageName!=='emailbuy' &amp;&amp; currentPageName!=='brokerlanding' &amp;&amp; currentPageName!=='prefillpolicyholder'">
    <ul>
        <!-- ngRepeat: selection in navigations -->
        <li ng-repeat="selection in navigations" ng-class="{currentSection: selection.isValid}" class="nav-home currentSection">
            <a href="javascript:void(0);" ng-click="redirectTo(selection.data)" data="selection.data" class="ng-binding">Home</a>
        <li ng-repeat="selection in navigations" ng-class="{currentSection: selection.isValid}" class="nav-driver">
            <a href="javascript:void(0);" ng-click="redirectTo(selection.data)" data="selection.data" class="ng-binding">Driver</a>
        </li><!-- end ngRepeat: selection in navigations --><li ng-repeat="selection in navigations" ng-class="{currentSection: selection.isValid}" class="nav-vehicle">
            <a href="javascript:void(0);" ng-click="redirectTo(selection.data)" data="selection.data" class="ng-binding">Vehicle</a>
        </li><!-- end ngRepeat: selection in navigations --><li ng-repeat="selection in navigations" ng-class="{currentSection: selection.isValid}" class="nav-trip">
            <a href="javascript:void(0);" ng-click="redirectTo(selection.data)" data="selection.data" class="ng-binding">Trip</a>
        </li><!-- end ngRepeat: selection in navigations --><li ng-repeat="selection in navigations" ng-class="{currentSection: selection.isValid}" class="nav-summary">
            <a href="javascript:void(0);" ng-click="redirectTo(selection.data)" data="selection.data" class="ng-binding">Summary</a>
        </li><!-- end ngRepeat: selection in navigations -->
    </ul>
</div><!-- end ngIf: currentPageName!=='results' && currentPageName!=='sorry' && currentPageName!=='emailbuy' && currentPageName!=='brokerlanding' && currentPageName!=='prefillpolicyholder' -->
<!-- </redirect> -->
                </div>
