h1, h2, p {
  color: #0C0C8D;
}

h1 {
  margin-top: 10px;
}

p {
  font-size: 16px;
}

.jumbotron {
  background-image: url("../../assets/images/car-insurance-1600x682.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;
  width: 1100px;
  margin: auto;
  border-radius: 10px;
}

button {
  background-color: #0C0C8D;
  color: white;
}
