<div style="text-align:center">
  <h1>
    Welcome By Mile Insurance
  </h1>
  <h2>Pay when you drive, pay less when you don't! </h2>
</div>

<div id="hero">
    <div class="jumbotron">
      <div class="container text-center">

      </div>
    </div>
</div>

<p>
  It doesn't matter if you drive every day or just once a week, with ByMile your mileage is automatically tracked and your bill is based on how far you've gone.
</p>
<p>
  Interested? Let's get started by comparing ByMile insurance against traditionally quoted insurance.
</p>
<p>
  <button (click)=getQuoteId()>Start a quote</button>
</p>
