
<h1 md-dialog-title>Select trip start and end points</h1>

<div *ngIf="errorMessage" class="danger">{{errorMessage}}</div>

<div md-dialog-content>
Start Location: <input type="text" id="autocompleteStart" size="50"><br/><br/>
End Location: <input type="text" id="autocompleteEnd" size="50"><br/><br/>

<button md-button (click)="calculateDistance()">Calculate</button>

    <div>
        Distance:{{distanceBetween}} <button md-button md-dialog-close="{{distanceBetween}}">Return</button>
    </div>
</div>
