
h1 {
  color: #0C0C8D;
  }

  button {
  background-color: #0C0C8D;
  color: white;
}

#distBetween {
  color: #0C0C8D;
  float: left;
  font-weight: bold;
}

/*#calButton {
  margin-left: 200px;
}*/

#return {
  float: right;
}


/*table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}*/
