
h1 {
  color: #0C0C8D;
  }

  button {
  background-color: #0C0C8D;
  color: white;
}

#buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#distBetween {
  color: #0C0C8D;
  float: left;
  font-weight: bold;
}

/* #return {
  float: right;
} */
