<h1 md-dialog-title>

  Select trip start and end points</h1>


<div md-dialog-content>
  <form #distanceForm="ngForm">
    <div *ngIf="errorMessage" class="mat-input-error">{{errorMessage}}</div>

    <md-input-container>
      <input mdInput placeholder="Starting Location" type="text" name="autocompleteStart" [formControl]="autocompleteStartFormControl" id="autocompleteStart" size="50" required>
      <md-error *ngIf="autocompleteStartFormControl.hasError('required')">
        Starting location is <strong>required</strong>
      </md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Ending Location" type="text" [formControl]="autocompleteEndFormControl" name="autocompleteEnd" id="autocompleteEnd" size="50" required>
      <md-error *ngIf="autocompleteEndFormControl.hasError('required')">
        Ending location is <strong>required</strong>
      </md-error>
    </md-input-container>

    <!-- <div fxLayout.xs="column"> -->
    <div id="calButton">
      <button md-raised-button [disabled]="autocompleteStartFormControl.hasError('required') || autocompleteEndFormControl.hasError('required')" (click)="calculateDistance()">Calculate</button>
    </div>
    <!-- <div> -->
    <br />
    <br />
    <div id="distBetween">
      Distance: {{distanceBetween}}
    </div>
    <div>

      <br />
      <br />

      <button id="return" md-raised-button md-dialog-close="{{distanceBetween}}">Return</button>
    </div>
  </form>
</div>
