
h1 {
  color: #0C0C8D;
  }

  button {
  background-color: #0C0C8D;
  color: white;
  margin-left: 42%;
  margin-top: 20px;
  margin-right: 50px;
}



#distBetween {
  color: #0C0C8D;
  text-align: left;
}

/*table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}*/
