h3 {
  color: #0C0C8D;
  float: left;
}


p, table {
  color:#0C0C8D;
}

img {
  height: 60%;
  width: 100%;
  padding-top: 40px;
}

md-card {
  float: right;
}

table {
  border: 2px solid #0C0C8D;
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

tr, td, th {
  border: 2px solid #0C0C8D;
}

th {
  background-color: #0C0C8D;
  color: white;
  width: 160px;
  font-style: normal;
}

.item-1 {
  text-align: left;
  padding-top: 70px;
  padding-left: 40px;
  color: #0C0C8D;
  height: 620px;
}

.item-2 {
  color: #0C0C8D;
  margin: 20px;
}

.item-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


#tripName, #frequency {
  width: 350px;
}

#distance {
  width: 200px;
}

#distHelp {
  background-color: #0C0C8D;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
}

#tripButton, #quoteButton{
  background-color:#0C0C8D;
  color: white;
  border-radius: 5px;
}

#delete {
  background-color: #C5CAE9;
  color: #0C0C8D;
  border-radius: 5px;
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
  border-radius: 5px;

}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  color: #0C0C8D;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
