h3 {
  color: #0C0C8D;
  float: left;
}


p {
  color:#0C0C8D;
}

img {
  height: 50%;
  padding-top: 40px;
}

md-card {
  float: right;
}

/*table {
  border: 2px solid #0C0C8D;
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

tr, td, th {
  border: 2px solid #0C0C8D;
}

th {
  background-color: #0C0C8D;
  color: white;
  width: 160px;
  font-style: normal;
}*/

.item-1 {
  text-align: left;
  padding-top: 70px;
  padding-left: 40px;
  color: #0C0C8D;
  height: 300px;
}

.item-2 {
  color: #0C0C8D;
  margin: 20px;
  height: 300px;
}

.item-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


#tripName, #frequency, #vehicle {
  width: 350px;
}

#distance {
  width: 200px;
}

#distHelp {
  background-color: #0C0C8D;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
}

#tripButton, #quoteButton, .deleteButton{
  background-color:#0C0C8D;
  color: white;
  border-radius: 5px;
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
  border-radius: 5px;

}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  color: #0C0C8D;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/*sample of rounded corner*/
#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
  margin-top: 20px;
	border-collapse: collapse;
  width: 100%;
}
#rounded-corner thead th.top-head-left
{
	background-color: #0C0C8D;
  border-top-left-radius: 5px;
}
#rounded-corner thead th.top-head-right
{
	background-color: #0C0C8D;
  border-top-right-radius: 5px;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	background-color: #0C0C8D;
}
#rounded-corner td
{
	padding: 8px;
	background-color: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tr.rowbold {
  font-weight: bold;
}
#rounded-corner td.colleft {
  text-align: left;
}
#rounded-corner td.rounded-foot-left
{
	background-color: #e8edff;
  border-bottom-left-radius: 5px;
}
#rounded-corner td.rounded-foot-right
{
	background-color: #e8edff;
  border-bottom-right-radius: 5px;
}
#rounded-corner tbody tr:hover td
{
	background-color: #d0dafd;
}