<!-- <img src="../../assets/images/roadtrip.jpg" alt="Young Driver" id="youngDriver" class="img-responsive"> -->

<h3>Please enter your trip information:</h3>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <!-- <div class="item item-1" fxFlex="20%">Item 1</div> -->

  <div class="item item-2" fxFlex="45%" fxFlexOrder="2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <md-card-title class="panel-title">Factors That Affect Rate</md-card-title>
      </div>
      <div class="panel-body">
        <md-card-content>
          <b>Mileage:</b> For everyday cars, the more mileage you put on your car, the more you are using it and the risk of damage increases. Therefore, the less you drive, the less you will usually pay.
        </md-card-content>
      </div>
    </div>
    <img src="../../assets/images/roadtrip.jpg" alt="Young Driver" id="youngDriver" class="img-responsive">
  </div>

  <div class="item item-1" fxFlex>

    <form #vehinfoForm="ngForm" class="form-horizontal">
      <input [(ngModel)]="quote_id" #student_id="ngModel" type="hidden" name="quote_id">

      <md-input-container>
        <input mdInput placeholder="Trip Name" [(ngModel)]="trip.tripName" type="text" class="form-control" id="tripName" name="tripName" required minlength="2" maxlength="30">
      </md-input-container>

      <br />

      <md-input-container>
        <input mdInput placeholder="Miles one way" [(ngModel)]="trip.distance" type="text" class="form-control" id="distance" name="distance" required>
      </md-input-container>

      <button class="btn btn-primary" id="distHelp" (click)="openDistanceDialog()">Distance Help</button>


      <md-input-container>
        <input mdInput placeholder="Weekly Frequency" [(ngModel)]="trip.frequency" type="text" class="form-control" id="frequency" name="frequency" required>
      </md-input-container>

      <div class="form-group" *ngIf="vehicles">
          <md-select mdInput placeholder="Vehicle" [(ngModel)]="trip.vehicle.vehicleId" id="vehicle" name="vehicle" class="selectpicker" required [formControl]="vehicleFormControl">
          <md-option *ngFor="let vehicle of vehicles;" [value]="vehicle?.vehicleId">
             {{vehicle.modelYear}} {{vehicle.vehicleMakeRatingFactor.make}} {{vehicle.model}}
          </md-option>
        </md-select>
        <md-error *ngIf="vehicleFormControl.hasError('required')">
          A vehicle is <strong>required</strong>
        </md-error>
      </div>

      <button class="btn btn-primary" id="tripButton" (click)=addTrip()>Add Trip</button>

    </form>

  </div>
</div>

    <br />
    <br />

    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

      <div class="item item-3" fxFlex="100%">

    <div *ngIf='showTable'>
      <table class="tripTable">
        <thead>
          <tr>
            <th>Trip Name</th>
            <th>Miles</th>
            <th>Weekly Frequency</th>
            <th>Weekly Total Miles</th>
            <th>Monthly Total Miles</th>
            <th></th>
            <tr>
        </thead>
        <tbody *ngFor="let vehicle of vehicles">
          <tr>
            <td colspan="6">
              {{vehicle.modelYear}} {{vehicle.vehicleMakeRatingFactor.make}} {{vehicle.model}}
            </td>
          </tr>
          <tr *ngFor="let trip of vehicle.trips">
            <td>{{trip.tripName}}</td>
            <td>{{trip.distance}}</td>
            <td>{{trip.frequency}}</td>
            <td>{{trip.weeklyTotalMiles}}</td>
            <td>{{trip.monthlyTotalMiles}}</td>
            <td><button md-button id="delete"(click)=deleteTrip(trip.tripId)>Delete</button></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{vehicle.weeklyGrandTotal}}</td>
            <td>{{vehicle.monthlyGrandTotal}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <br />

      <button class="btn btn-primary" id="quoteButton" (click)=goToSummary()>Get Quote</button>
    </div>
  </div>
</div>
