<img src="../../assets/images/roadtrip.jpg" alt="Young Driver" id="youngDriver" class="img-responsive">

<h2>Please enter your trip information:</h2>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <!-- <div class="item item-1" fxFlex="20%">Item 1</div> -->

  <div class="item item-2" fxFlex="40%" fxFlexOrder="2">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Factors That Affect Rate</h3>
  </div>
  <div class="panel-body">
    <p>
      <b>Mileage:</b> For everyday cars, the more mileage you put on your car, the more you are using it and the risk of damage increases. Therefore, the less you drive, the less you will usually pay.
    </p>
  </div>
</div>
    <!-- <img src="../../assets/images/DrivingNYC_night.jpg" alt="Smiley face" class="img-responsive"> -->
  </div>

  <div class="item item-1" fxFlex>

  <form #vehinfoForm="ngForm" class="form-horizontal">
    <!--<input [(ngModel)]="quote_id" #student_id="ngModel" type="hidden" name="quote_id">-->
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Trip Name</label>
      <div class="col-sm-10">
           <input [(ngModel)]="trip.name" type="text" class="form-control" id="name" name="name" placeholder="Name" required minlength="2" maxlength="30">
      </div>
    </div>
    <div class="form-group">
      <label for="tripMiles" class="col-sm-2 control-label">Miles</label>
      <div class="col-sm-10">
           <input [(ngModel)]="trip.tripMiles" type="text" class="form-control" id="tripMiles" name="tripMiles" placeholder="Miles" required> <button (click)="openDistanceDialog()">Distance Help</button>
      </div>
    </div>
    <div class="form-group">
      <label for="frequency" class="col-sm-2 control-label">Weekly Frequency</label>
      <div class="col-sm-10">
           <input [(ngModel)]="trip.frequency" type="text" class="form-control" id="frequency" name="frequency" placeholder="Frequency" required>
      </div>
    </div>

    <button class="btn btn-primary"(click)=addTrip()>Add Trip</button>
  </form>


  <table *ngIf='trips.length > 0' class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Trip Name</th>
        <th>Miles</th>
        <th>Weekly Frequency</th>
        <th>Weekly Total Miles</th>
        <th>Monthly Total Miles</th>
        <th></th>
      <tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of trips">
        <td>{{trip.name}}</td>
        <td>{{trip.tripMiles}}</td>
        <td>{{trip.frequency}}</td>
        <td>{{trip.weeklyTotalMiles}}</td>
        <td>{{trip.monthlyTotalMiles}}</td>
        <td><button>delete</button></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{weeklyTotal}}</td>
        <td>{{monthlyTotal}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
</div>
