h3, h4 {
  color: #0C0C8D;
  float: left;
}

h4 {
  padding-right: 100px;
  margin-bottom: 5px;
}

p {
  color: #0C0C8D;
}

img {
  height: 48%;
  width: 100%;
  padding-top: 50px;
}


md-option {
  color: #0C0C8D !important;
}

.error {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.errorGender {
  padding-bottom: 20px;
}

 .errorHome, #gender, #maritalStatus, #education, #homeOwnerStatus {
  padding-top: 0;
  width: 180px;
}

.errorEd {
  padding-top: 0;
  width: 160px;
}

#errorDelete {
  color: red;
  font-size: 12px;
}

#firstName, #lastName, #addressLine1, #addressLine2,
#city, #state, #zip_code, #birthDate {
  width: 400px;
}

.item-1 {
  text-align: left;
  color:  #0C0C8D;
  padding-left: 20px;
  margin: 0;
}

.item-2 {
  color: #0C0C8D;
  padding-top: 5px;
}

.item-3 {
  width: 350px;
}

#modify {
  float: right;
  margin-left: 10px;
}

#addButton {
  background-color: #0C0C8D;
  color: white;
  float: left;
  border-radius: 5px;
  margin-left: 120px;
}

#vehicleButton {
  background-color: #0C0C8D;
  color: white;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}

.driverList {
  border-bottom: lightgray 1px dotted;
}

.btn-primary {
  background-color: #0C0C8D !important;
  color: white;
  width: 43.41px !important;
}

.panel-default {
  border: 2px;
  border-color: #0C0C8D;
  border-style: solid;
  border-radius: 5px;
}

.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
