h3, h4 {
  color: #0C0C8D;
  float: left;
}

h4 {
  padding-right: 100px;
  margin-bottom: 5px;
}

p {
  color: #0C0C8D;
}

img {
  height: 60%;
  width: 100%;
  padding-top: 40px;
}

/*form {
  width: 450px;
  margin-right: -20px;

}*/

/*table {
  border: 2px solid #0C0C8D;
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

tr, td, th {
  border: 2px solid #0C0C8D;
}

th {
  background-color: #0C0C8D;
  color: white;
  width: 160px;
  font-style: normal;
}*/

input {
  color: #0C0C8D !important;
}

 #gender, #maritalStatus, #education, #homeOwnerStatus {
  padding-top: 0;
  padding-right: 50px;
  width: 165px;
}

#gender, #maritalStatus {
  padding-bottom: 20px;
}

#firstName, #lastName, #addressLine1, #addressLine2,
#city, #state, #zip_code, #birthDate {
  width: 400px;
}


.item-1 {
  text-align: left;
  color: white;
  padding-left: 20px;
  margin: 0;
}

.item-2 {
  color: #0C0C8D;
  /*margin: 20px;*/
  /*margin-right: 40px;*/
}

.item-3 {
  width: 350px;
}


/*button {
  background-color: #0C0C8D;
  color: white;
  float: left;
  border-radius: 5px;
}*/

#modify {
  float: right;
  margin-left: 10px;
}

#addButton {
  background-color: #0C0C8D;
  color: white;
  float: left;
  border-radius: 5px;
  margin-left: 120px;
}

#vehicleButton {
  background-color: #0C0C8D;
  color: white;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}

.driverList {
  border-bottom: lightgray 1px dotted;
  
}

/*#delete {
  background-color: white;
  color: red;
}

#edit {
  background-color: white;
  color: #0C0C8D;
}*/

.panel-default {
  border: 1px;
  border-color: #0C0C8D;
  border-style: solid;
  border-radius: 5px;
}
.panel-heading {
  background-color: #0C0C8D;
  color: white;
}

.panel-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
