<h3>Please enter your driver information:</h3>


<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <!-- <div class="item item-1" fxFlex="20%">Item 1</div> -->

  <div class="item item-2" fxFlex="45%" fxFlexOrder="2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <md-card-title class="panel-title">Factors That Affect Rate</md-card-title>
      </div>
      <div class="panel-body">
        <md-card-content>
          <b>Your Address: </b> Where you live and park your vehicle will affect your auto insurance quote.
        </md-card-content>
      </div>
    </div>
    <img src="../../assets/images/lady-driving2.png" alt="lady driving" class="img-responsive">
  </div>

  <div class="item item-1" fxFlex>

    <form (ngSubmit)="saveDriver()" #driverForm="ngForm" class="form-horizontal">
      <!-- <input mdInput [(ngModel)]="driver.driver_id" type="hidden" name="driver_id"> -->

      <md-input-container>
        <input mdInput placeholder="First Name" [(ngModel)]="driver.firstName" type="text" class="form-control" id="firstName" name="firstName" required minlength="2" maxlength="30">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Last Name" [(ngModel)]="driver.lastName" type="text" class="form-control" id="lastName" name="lastName" required minlength="2" maxlength="30">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Address Line 1" [(ngModel)]="driver.addressLine1" type="text" class="form-control" id="addressLine1" name="addressLine1" required>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Address Line 2" [(ngModel)]="driver.addressLine2" type="text" class="form-control" id="addressLine2" name="addressLine2">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="City" [(ngModel)]="driver.city" type="text" class="form-control" id="city" name="city" required>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="State" [(ngModel)]="driver.state" type="text" class="form-control" id="state" name="state" required>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Zip Code" [(ngModel)]="driver.zip_code" type="text" class="form-control" id="zip_code" name="zip_code" required>
      </md-input-container>

      <md-input-container>
        <input mdInput [dateFormat] [(ngModel)]="driver.birthDate" type="text" class="form-control" id="birthDate" name="birthDate" placeholder="2017-01-01" required pattern="(\d{4})-(\d{2})-(\d{2})">
      </md-input-container>

      <md-select placeholder="Gender" [(ngModel)]="driver.gender" id="gender" name="gender" class="selectpicker">
        <md-option value="unselected"> </md-option>
        <md-option value="male">
          Male
        </md-option>
        <md-option value="female">
          Female
        </md-option>
      </md-select>


      <md-select placeholder="Marital Status" [(ngModel)]="driver.maritalStatus" id="maritalStatus" name="maritalStatus" class="selectpicker">
        <md-option value="unselected"> </md-option>
        <md-option value="married">
          Married
        </md-option>
        <md-option value="single">
          Single
        </md-option>
        <md-option value="divorced">
          Divorced
        </md-option>
        <md-option value="widowed"> Widow/Widowed
        </md-option>
      </md-select>


      <md-select placeholder="Education" [(ngModel)]="driver.education" id="education" name="education" class="selectpicker">
        <md-option value="unselected"> </md-option>
        <md-option value="high_school">
          High School Degree
        </md-option>
        <md-option value="undergrad">
          Undergraduate Degree
        </md-option>
        <md-option value="somegrad">
          Some Graduate
        </md-option>
        <md-option value="grad">
          Graduate Degree
        </md-option>
      </md-select>

      <md-select placeholder="Home Owner Status" [(ngModel)]="driver.homeOwnerStatus" id="homeOwnerStatus" name="homeOwnerStatus" class="selectpicker">
        <md-option value="unselected"> </md-option>
        <md-option value="own">
          Own
        </md-option>
        <md-option value="rent">
          Rent
        </md-option>
      </md-select>

      <br/>
      <br/>
      <button md-button>Save and Continue to Vehicle Info Screen</button>

    </form>
  </div>

</div>
